@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

body {
  margin-left: 5%;
  margin-right: 5%;
}

h2 {
  margin-top: 30px;
  text-align: center;
  font-size: 60px;
  font-weight: 500;
}

.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 4px;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
  max-height: 170px;
  max-width: 100%;
}

.card p {
  padding: 5px;
  text-align: center;
  max-height: 20px;
}

.card img {
  max-height: 170px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* =================================
=======Buscador de elementos========
====================================*/
.search-box {
  width: fit-content;
  height: fit-content;
  position: relative;
}

.input-search {
  border: #3e3434 1px solid;
  border-radius: 4px;
  height: 40px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  transition: all 0.5s ease-in-out;
  background-color: #2e2e2e;
  padding-right: 40px;
  color: #fff;
}

.input-search::placeholder {
  color: #f7f7f7;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 400;
}

.btn-search {
  width: 50px;
  height: 40px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  position: absolute;
  right: 0px;
  color: #ffffff;
  background-color: transparent;
  pointer-events: painted;
  border: #3e3434 1px solid;
}

.btn-search:focus ~ .input-search {
  width: 250px;
  border-radius: 4px;
  border: 1px solid #3e3434;
  background-color: #3e3434;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.input-search:focus {
  width: 250px;
  border-radius: 4px;
  border: 1px solid #3e3434;
  background-color: #3e3434;
  transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.divHrPrincipal {
  display: flex;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 20px;
}
.divHrPrincipal hr {
  flex: 1px;
  margin: 0 auto;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #3e3434, rgba(129, 129, 129, 0.75), #f7f7f7);
}
